@media screen and (max-width: 480px){

  span{
    width: 85%;
    margin:1rem
  }
  input{
    width:85%;

  }
  .w-full{
    width: 85% !important;
  };
  .flex{
    height: 80vh;
  }
  .justify-content-center{
    justify-content: flex-start !important;
  }
}
