<div class="mentions">
  <h1 class="text-xl">{{ "legalNotices.title" | translate }}</h1>
  <h3 class="text-lg">{{ "legalNotices.responsibility" | translate }}</h3>
  <p>{{ "legalNotices.contactDetails" | translate }}</p>
  <h3>{{ "legalNotices.responsible" | translate }}</h3>
  <p>Godin Nicolas</p>
  <h3 class="text-lg">{{ "legalNotices.accommodation" | translate }}</h3>

  <p>
    Planet Hoster 4416 Rue Louis B. Mayer, Laval, QUEBEC H7P 0G1, Canada +33
    (0)1 76 60 41 43 <br />
    www.planethoster.net <br />
    {{ "legalNotices.achievement" | translate }}: Godin Nicolas <br />
    {{ "legalNotices.noPersonalRecord" | translate }}.
  </p>
  <h3>{{ "legalNotices.sendForm" | translate }}</h3>
  <p class="text-wrap">
    {{ "legalNotices.noPersonalRecordOnForm" | translate }}
  </p>
</div>
