<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start"> </ng-template>
    <ng-template pTemplate="end">
      <p-splitButton
        [model]="splitItems"
        class="mr-2"
        icon="pi pi-flag"
        styleClass="p-button-outlined p-button-secondary"
      ></p-splitButton>
      <p-toggleButton
        [(ngModel)]="isDarkThemeSelected"
        onLabel="Dark"
        offLabel="Light"
        (onChange)="changeTheme($event.checked)"
      ></p-toggleButton>
    </ng-template>
  </p-menubar>
</div>
