<p-table [value]="comments" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>{{ "admin.user" | translate }}</th>
      <th>{{ "admin.comment" | translate }}</th>
      <th>{{ "admin.tutorialName" | translate }}</th>
      <th>{{ "admin.status" | translate }}</th>
      <th>{{ "admin.action" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comment>
    <tr>
      <td>{{ comment.id }}</td>
      <td>{{ comment.author.username }}</td>
      <td>{{ comment.comment }}</td>
      <td>{{ comment.tutorialName }}</td>
      <td>
        {{
          comment.isActive
            ? ("admin.isActive" | translate)
            : ("admin.isNotActive" | translate)
        }}
      </td>
      <td>
        <p-button
          icon="pi pi-power-off"
          *ngIf="comment.isActive"
          styleClass="p-button-text p-button-danger p-button-rounded"
          pTooltip="{{ 'admin.disable' | translate }}"
          (onClick)="confirm(comment.id)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
