<h1 class="text-center mt-5 text-primary">{{ "socialNetwork" | translate }}</h1>

<div class="text-center flex flex-column">
  <a
    class="p-button p-button-rounded text-white-alpha-90 mx-auto mt-4"
    href="https://github.com/Nikotiine"
    target="_blank"
  >
    <span class="pi pi-github mr-2" aria-hidden="true"></span>GitHub</a
  >
  <a
    class="p-button p-button-rounded text-white-alpha-90 mx-auto mt-3"
    href="https://www.linkedin.com/in/nikolasgodin/"
    target="_blank"
  >
    <span class="pi pi-linkedin mr-2" aria-hidden="true"></span>Linkedin</a
  >
</div>
