.bg-curriculum{
  background-color: #3a5386;
  color: white;
  padding: 1.5rem;
}
.font-weight-500{
  font-weight: 500;
}
.padding-4{
  padding: 1.5rem;
}
@media screen and (max-width: 480px){

  .subtitle{
    font-size: 1rem;
  }
  .padding-4{
    padding: 0.4rem;
  }
  .bg-curriculum{
    padding: 0;
    background-color: white;
    color: #6c6c6c;
  }
  .flex{
    flex-direction: column;
  }
  .col-3{
    width: 100%;
  }
  .col-9{
    width: 100%;
  }
}
