<p-card>
  <div class="text-center">
    <p-button
      icon="pi pi-power-off"
      label="{{ 'auth.logout' | translate }}"
      styleClass=" p-button-secondary p-button-rounded "
      (onClick)="logout()"
      [routerLink]="['/home']"
    ></p-button>
    <h3>Admin Dashboard</h3>
  </div>

  <p-accordion [activeIndex]="[0]">
    <p-accordionTab header="{{ 'admin.users' | translate }}">
      <app-user-list [allUsers]="users"></app-user-list>
    </p-accordionTab>
    <p-accordionTab header="{{ 'admin.comments' | translate }}">
      <app-comment-list [allComments]="comments"></app-comment-list>
    </p-accordionTab>
    <p-accordionTab header="{{ 'admin.database' | translate }}">
      <div class="flex justify-content-center">
        <p-button
          icon="pi pi-exclamation-circle"
          label="{{ 'admin.clearDatabaseLabel' | translate }}"
          styleClass=" p-button-danger p-button-rounded"
          (onClick)="confirm()"
        ></p-button>
      </div>
    </p-accordionTab>
  </p-accordion>
</p-card>
