<form [formGroup]="form">
  <div class="flex flex-column justify-content-center mt-2 mx-auto">
    <label for="comment">Votre commentaire</label>
    <textarea
      rows="1"
      [autoResize]="true"
      cols="30"
      id="comment"
      pInputTextarea
      formControlName="comment"
    ></textarea>
  </div>
  <div class="text-right">
    <p-button
      icon="pi pi-send"
      (onClick)="sendComment(tutorialId)"
      styleClass="p-button-text p-button-rounded mt-1"
    ></p-button>
  </div>
</form>
