<div class="flex flex-wrap">
  <div class="col-3 p-3" *ngFor="let app of applications">
    <p-card class="text-center">
      <ng-template pTemplate="header">
        <img
          alt="Logo {{ app.title }}"
          src="assets/img/{{ app.logo }}"
          [routerLink]="[app.routerLink]"
          fragment="{{ app.fragment }}"
          (click)="closeSideBar(app.index)"
          class="cursor-pointer"
        />
      </ng-template>
      <div class="p-card-header text-center">
        <a
          (click)="closeSideBar(app.index)"
          [routerLink]="[app.routerLink]"
          fragment="{{ app.fragment }}"
          class="underline {{
            app.index === currentIndex ? 'text-primary' : ''
          }} "
          >{{ "application." + app.title | translate }}
        </a>
      </div>
    </p-card>
  </div>
</div>
