<div class="grid">
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/img/who.png" />
      </ng-template>
      <div class="p-card-header text-center">
        <a [routerLink]="['/' + Routing.HOME]" (click)="closeSideBar()">{{
          "application.whoIAm" | translate
        }}</a>
      </div>
    </p-card>
  </div>
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/img/knowledge.png" />
      </ng-template>
      <div class="p-card-header text-center">
        <a [routerLink]="['/' + Routing.KNOWLEDGE]" (click)="closeSideBar()">{{
          "application.knowledge" | translate
        }}</a>
      </div>
    </p-card>
  </div>
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/img/curriculum.png" />
      </ng-template>
      <div class="p-card-header text-center">
        <a [routerLink]="['/' + Routing.CURRICULUM]" (click)="closeSideBar()">{{
          "application.cv" | translate
        }}</a>
      </div>
    </p-card>
  </div>
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/img/projects.png" />
      </ng-template>
      <div class="p-card-header text-center">
        <a [routerLink]="['/' + Routing.PROJECTS]" (click)="closeSideBar()">{{
          "application.projects" | translate
        }}</a>
      </div>
    </p-card>
  </div>
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/img/social.png" />
      </ng-template>
      <div class="p-card-header text-center">
        <a
          [routerLink]="['/' + Routing.SOCIAL_NETWORK]"
          (click)="closeSideBar()"
          >{{ "application.socialNetwork" | translate }}</a
        >
      </div>
    </p-card>
  </div>
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <div class="p-card-header text-center">
        <a [routerLink]="['/']">{{ "application.tutorial" | translate }}</a>
      </div>
    </p-card>
  </div>
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <div class="p-card-header text-center">
        <a [routerLink]="['/']">{{ "application.contactMe" | translate }}</a>
      </div>
    </p-card>
  </div>
  <div class="col-3 p-5">
    <p-card>
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <div class="p-card-header text-center">
        <a [routerLink]="['/' + Routing.SETTING]" (click)="closeSideBar()">{{
          "application.setting" | translate
        }}</a>
      </div>
    </p-card>
  </div>
</div>
