<h3 class="text-center text-xl">Tutorial</h3>
<app-login-button></app-login-button>
<div class="accordion-container">
  <p-accordion
    [activeIndex]="-1"
    *ngFor="let tutorial of tutorials; let index = index"
  >
    <p-accordionTab [tabIndex]="index">
      <ng-template pTemplate="header">
        <div class="flex align-items-center justify-content-between w-full">
          <div>
            <i class="pi pi-database mr-2"></i>
            <span class="vertical-align-middle">{{ tutorial.title }}</span>
          </div>
          <div>
            {{ tutorial.likes }}
            <span class="pi pi-thumbs-up mr-2"></span>
            {{ tutorial.comments }}
            <span class="pi pi-comment"></span>
          </div>
        </div>
      </ng-template>
      <p-card class="p-4">
        <div class="markdown-container">
          <markdown
            clipboard
            [src]="'assets/markdown/' + tutorial.src"
            [srcRelativeLink]="true"
            (load)="onLoad($event)"
            (error)="onError($event)"
          >
          </markdown>
        </div>
      </p-card>
      <div class="text-center">
        <p-button
          label="Download"
          (onClick)="downloadMarkdown(tutorial.src)"
          styleClass="p-button-rounded p-button-info"
        ></p-button>
        <p-button
          icon="pi pi-thumbs-up"
          styleClass="p-button-text p-button-rounded"
          (onClick)="like(tutorial.id)"
        ></p-button>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
