.markdown-container{
  max-width: 80%;
  margin: auto;
}

.accordion-container{
  padding: 1.5rem;
  margin: 2rem;
}

.logout-button{
  top: 15%;
  right: 1.4%;
}
@media screen and (max-width: 480px){
  .markdown-container{
    max-width: 95%;
    margin: auto;
  }
  .accordion-container{
    padding: .5rem;
    margin: .2rem;
  }

}
