/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}
a{
  text-decoration: none;
}
p-card .p-component{
  box-shadow: none;
}
.p-card-body{
  box-shadow: none;
}
.markdown-clipboard-button {
  background-color: #f1f1f5;
  border: none;
  border-radius: 4px;
  color: #050505;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 4px 0;
  width: 75px;
  transition: all 250ms ease-out;
}

.markdown-clipboard-button:hover {
  background-color: #be1919;
  color: white;
}

.markdown-clipboard-button:active {
  transform: scale(0.95);
}

.markdown-clipboard-button.copied {
  background-color: #050505;
  color: #ffffff;
}
code{
  color: #050505;

}
.language-bash{
  color: #be1919;
  max-width: 100%;
  display: block; /* Facultatif : pour que le code ne déborde pas horizontalement */
  overflow-x: scroll;
  min-height: 2rem;
}
