<h1 class="text-center mt-5">{{ "common.appTitle" | translate }}</h1>
<div class="w-8 mx-auto">
  <p-card header="Qui suis-je ?">
    <p class="subtitle">
      Bonjour et bienvenue sur mon portfolio. Ancien ambulancier, je viens de
      finir ma reconversion professionnelle et je suis maintentenant développeur
      web <strong>full-stack.</strong>
    </p>
    <p class="subtitle">
      J'ai suivi deux cursus de formation avec L'Ecole nationale d'informatique
    </p>
    <p class="subtitle">
      Grandement intéressé par les différentes technologies du web et de ses
      applications, j'ai fini ma formation développeur web et web mobile avec l'
      <a
        href="https://www.eni-ecole.fr/formations/developpement/bac2-developpeur-web-et-web-mobile/"
        target="_blank"
        >ENI</a
      >
      en decembre 2022.
    </p>
    <p class="subtitle">
      Je suis maintenant en <strong>alternance</strong> afin de poursuivre mon
      parcours avec
      <a href="https://quantior.com/fr/" target="_blank">Quantior Group</a> et
      obtenir un diplôme de développeur d'application (bac +4) avec L'ENI
    </p>
    <p class="subtitle">
      Je travaille avec le framework Symfony(5) et PHP 7.4 sur un ERP et avec
      Symfony(6) / Api_Plateform(3) / Angular(15) sur mon projet d'alternance
    </p>
    <p class="subtitle">
      J'ai principalement travaillé avec VueJs et Nodejs sur des projets
      personnels et lors de mon stage chez
      <a href="https://graaly.com/" target="_blank">Graaly</a>.
    </p>
    <p class="subtitle">
      Au cours de ma formation j'ai pu monter en compétences en Java et PHP.
      J'ai aussi appris le respect des conventions et l'utilisation de pattern
      de développement
    </p>
    <p class="subtitle">
      <strong> En decembre 2022 </strong> mon premier site web est en ligne vous
      pourrez retrouvez le liens dans mes projet 'MetaHomeopathie'.
    </p>
    <p class="subtitle">
      Vous trouverez sur ce site une partie des projets que j'ai réalisé, et
      évidemment la possiblité de me contacter.
    </p>
  </p-card>
</div>
