<h1 class="text-center mt-5 text-primary">Nicolas Godin - Dev full stack</h1>
<div class="who-i-am mx-auto fadein animation-duration-1000" *ngIf="firstLoad">
  <app-who-i-am></app-who-i-am>
  <app-knowledge id="{{ Fragment.KNOWLEDGE }}"></app-knowledge>
  <app-curriculum id="{{ Fragment.CURRICULUM }}"></app-curriculum>
  <app-projects id="{{ Fragment.PROJECTS }}"></app-projects>
  <app-social-network id="{{ Fragment.SOCIAL_NETWORK }}"></app-social-network>
  <app-contact-me id="{{ Fragment.CONTACT_ME }}"></app-contact-me>
</div>
<div class="w-8 mx-auto text-center" *ngIf="!firstLoad">
  <img alt="Card" src="assets/img/software-developer-icon-18.jpg" />
  <p class="text-3xl">QUI SUIS JE ?</p>
</div>
