<h1 class="text-center mt-5">{{ "common.appTitle" | translate }}</h1>
<div class="w-8 mx-auto">
  <p-card header="{{ 'homepage.whoIam' | translate }}">
    <p class="subtitle">
      {{ "homepage.presentation" | translate }} <strong>full-stack.</strong>
    </p>
    <p class="subtitle">
      {{ "homepage.curriculum" | translate }} :<br />
      -
      <a
        href="https://www.eni-ecole.fr/formations/developpement/bac2-developpeur-web-et-web-mobile/"
        target="_blank"
        >{{ "homepage.dwwm" | translate }}</a
      >
      <br />
      -
      <a
        href="https://www.eni.fr/formation/concepteur-developpeur-d-applications-bac-4/"
        target="_blank"
        >{{ "homepage.cda" | translate }}</a
      >
    </p>
    <p class="subtitle">
      {{ "homepage.keen" | translate }}
    </p>
    <p class="subtitle">
      {{ "homepage.opportunity" | translate }}
      :<br />
      - {{ "homepage.firstIntership1" | translate }}
      <a href="https://graaly.com/" target="_blank">Graaly</a>.
      {{ "homepage.firstIntership2" | translate }}. <br />
      - {{ "homepage.secondIntership1" | translate }}
      <a href="https://quantior.com/fr/" target="_blank">Quantior Group</a>.
      {{ "homepage.secondIntership2" | translate }}
    </p>
    <p class="subtitle">
      {{ "homepage.workStudy1" | translate }}
      <strong>{{ "homepage.apprenticeship" | translate }}</strong>
      {{ "homepage.workStudy2" | translate }}<br />
      {{ "homepage.workStudy3" | translate }}
    </p>
    <p class="subtitle">
      {{ "homepage.skill" | translate }}
    </p>
    <p class="subtitle">
      {{ "homepage.sideProject" | translate }}
    </p>
  </p-card>
</div>
