
.logo-rating{
  height: 25px;
  width: 25px;
}
@media screen and (max-width: 768px){
  .chip-width{
    margin: auto;
    width: 80%;
  }
}
@media screen and (max-width: 480px){
  .logo-rating{
    height: 15px;
    width: 15px;
  }
  .col-4{
    width: 50%;
  }
}

