<div class="card">
  <p-dataView #dv [value]="knowledges">
    <ng-template let-knowledge pTemplate="listItem">
      <div class="col-4">
        <div
          class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
        >
          <img
            class="w-9 sm:w-16rem xl:w-6rem block xl:block mx-auto border-round"
            src="assets/img/{{ knowledge.logo }}"
            [alt]="knowledge.name"
          />
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
          >
            <div
              class="flex flex-column align-items-center sm:align-items-start gap-3"
            >
              <div class="text-2xl font-bold text-900">
                {{ knowledge.name }}
              </div>
              <p-rating
                [(ngModel)]="knowledge.rating"
                [readonly]="true"
                [cancel]="false"
              >
                <ng-template pTemplate="onicon">
                  <img
                    src="assets/img/engrenage-actif.png"
                    width="25px"
                    height="25px"
                    alt="logo engrenage bleu"
                  />
                </ng-template>
                <ng-template pTemplate="officon">
                  <img
                    src="assets/img/engrenage.png"
                    width="25px"
                    height="25px"
                    alt="logo engrenage noir"
                  />
                </ng-template>
              </p-rating>

              <div class="flex align-items-center gap-3">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-code"></i>
                  <span class="font-semibold">{{ knowledge.category }}</span>
                </span>
              </div>
            </div>
            <!--<div
              class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
            >
              <span class="text-2xl font-semibold">{{
                "$" + product.price
              }}</span>
              <button
                pButton
                icon="pi pi-shopping-cart"
                class="md:align-self-end mb-2 p-button-rounded"
                [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
              ></button>
            </div>-->
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
